body {
    background-color: black;
    color: white;
    font-family: 'Mooli';
}

/* QUOTE CSS */
#quote {
    font-family: 'Metal Mania';
    font-size: 8rem;
    text-align: justify;
}

#lower {
    font-weight: bolder;
    color: purple;

}

.sayingdiv {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

/* quote css ends here */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* title heading */
#navtitle {
    font-size: 3rem;
    font-weight: 550;
    padding: 10px;
    margin-left: 20px;
    color: white;
    animation: title 1.5s cubic-bezier(1, 0.01, 0.6, 0.85) 1 both;
}

@keyframes title {
    0% {
        color: black;
    }

    50% {
        color: white;
    }
}

#navbar {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.8);
}

li {
    list-style: none;
    display: inline-block;
}

#navbar:hover {
    border-bottom: 2px solid purple;
    background: rgba(0, 0, 0, 1);
}

li a:hover {
    color: grey;
}

li a {
    color: white;
    font-size: 25px;
    margin-right: 50px;
}

ul {
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.mobilebtn {
    display: none;
}

/* cbum and food image 1 information */
.infobox1,
.infobox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.infobox1 {
    margin-top: 100px;
}

.infobox2 {
    margin-left: 20px;
}

.keywords {
    color: purple;
    font-weight: 600;
    font-size: 3.3rem;
}

#info1,
#info2 {
    font-size: 3rem;
    width: 50%;
    padding: 30px;
    font-family: 'Barlow Condensed';
    text-align: justify;
    margin-right: 35px;
    border-radius: 10px;
}

#info2 {
    padding-left: 50px;
}

#banner1 {
    border-radius: 10px;
    height: 25rem;
    width: 21rem;
    border: 3px solid black;
}

#banner2 {
    border-radius: 20px;
    width: 23rem;
    height: 25rem;
    margin-left: 20px;
    border: 3px solid black;
}

#banner1:hover {
    height: 25.7rem;
    width: 21.7rem;
}

#banner2:hover {
    height: 25.7rem;
    width: 23.7rem;
}

/* FORM */

.forminpt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border: 3px solid white;
    width: fit-content;
    padding: 40px;
    border-radius: 10px;
    animation: beta 3s ease-in infinite;
}

@keyframes beta {
    25% {
        border-color: purple;
    }

    50% {
        border-color: white;
    }

    75% {
        border-color: purple;
    }
}

label {
    margin-bottom: 15px;
    font-size: 2.3rem;
}

input {
    margin-bottom: 15px;
    height: 1.5rem;
    padding: 10px;
    width: 0%;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid purple;
}

input[type='number'] {
    font-size: 1.5rem;
}

input[type='radio'] {
    width: 1.5rem;
    height: 1.5rem;
}

#bmilabel {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 5rem;
    margin-left: 20px;
}

.bmi {
    color: purple;
    font-weight: 600;
    font-size: 3rem;
}

.buttondiv {
    text-align: center;
}

.submit {
    font-size: 2.1rem;
    font-family: 'Mooli';
    padding: 10px;
    border-radius: 10px;
    background-color: purple;
    color: white;
    margin-bottom: 30px;
}

select {
    margin-top: 2rem;
    width: 30rem;
    height: 2rem;
}

select[type="option"] {
    font-size: 2rem;
}

option {
    font-size: 1rem;
}

#final-block {
    padding: 3rem;
    font-size: 2rem;
}

#final-block button {
    font-size: 2rem;
    font-family: 'Mooli';
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    color: purple;
    margin-bottom: 30px;
}


@media all and (max-width:500px) {

    /* NAVBAR */
    #navtitle {
        font-size: 30px;
        font-weight: 550;
        padding: 10px;
    }

    #navbar {
        display: flex;
        justify-content: space-between;

    }

    li a {
        display: none;
    }

    .mobilebtn {
        display: block;
        background-image: url("static/navbtn.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        margin: 10px;
        margin-top: 10px;
        margin-right: 20px;
    }

    /* NAVBAR ENDS */
    /* QUOTE CSS */
    #quote {
        font-size: 3rem;
    }

    .sayingdiv {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    /* quote css ends here */
    .infobox1,
    .infobox2 {
        flex-direction: column;
    }

    .infobox1 {
        margin-top: 60px;
    }

    .infobox2 {
        margin-right: 20px;
    }

    .keywords {
        color: purple;
        font-weight: 600;
        font-size: 25px;
    }

    #info1,
    #info2 {
        font-size: 25px;
        width: 80%;
        margin: 0;
        padding: 20px;
    }

    #info2 {
        width: 90%;
    }

    #banner1,
    #banner2 {
        border-radius: 10px;
        height: 280px;
        width: 250px;
        border: 3px solid black;
        margin-bottom: 10px;
    }

    #banner1:hover,
    #banner2:hover {
        height: 280px;
        width: 250px;
    }

    #banner2 {
        margin-left: 0;
    }

    /* FORM BEGINS */
    form {
        margin-bottom: 20px;
    }

    label {
        margin-bottom: 10px;
        font-size: 20px;
    }

    input {
        margin-bottom: 10px;
        height: 10px;
        padding: 10px;
    }

    input[type='number'] {
        font-size: 10px;
    }

    input[type='radio'] {
        width: 15px;
        height: 15px;
    }

    #bmilabel {
        font-size: 25px;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 40px;
    }

    .bmi {
        color: purple;
        font-weight: 600;
        font-size: 25px;
    }

    .buttondiv {
        text-align: center;
    }

    .submit {
        font-size: 25px;
        font-family: 'Mooli';
        padding: 10px;
        border-radius: 10px;
        background-color: purple;
        color: white;
        margin-bottom: 20px;
    }

    select {
        margin-top: 10px;
        width: 250px;
        height: 35px;
    }

    option {
        font-size: 25px;
    }

    .forminpt {
        margin-bottom: 2rem;
        border: 3px solid white;
        width: fit-content;
        padding: 20px;
    }
}
