body {
    background-color: black;
    color: white;
    font-family: "Barlow Condensed";
    scroll-behavior: smooth;
  }
  /* QUOTE CSS */
  #quote {
    font-family: "Metal Mania";
    font-size: 8rem;
    text-align: justify;
  }
  
  #lower {
    font-weight: bolder;
    color: purple;
  }
  
  .sayingdiv {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  
  /* quote css ends here */
  * {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
  /* title heading */
  #navtitle {
    font-size: 3.5rem;
    font-weight: 550;
    padding: 10px;
    margin-left: 20px;
    color: white;
    animation: title 1.5s cubic-bezier(1, 0.01, 0.6, 0.85) 1 both;
  }
  
  @keyframes title {
    0% {
      color: black;
    }
  
    50% {
      color: white;
    }
  }
  
  /* NAVBAR CSS */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    height: 8vh;
    padding: 15px;
  }
  nav .links {
    display: flex;
  }
  .links p {
    padding: 10px;
    font-size: 30px;
    padding-right: 30px;
  }
  .links p:hover {
    color: gray;
  }
  #mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    color: white;
    display: none;
    position: absolute;
    right: 0;
    height: 50vh;
    width: 70vw;
    background: rgba(0, 0, 0, 0.8);
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  #navbar:hover {
    border-bottom: 2px solid purple;
    background: rgba(0, 0, 0, 1);
  }
  
  /* cbum and food image 1 information */
  .infobox1,
  .infobox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .infobox1 {
    margin-top: 100px;
  }
  
  .infobox2 {
    margin-left: 20px;
    margin-bottom: 6rem;
  }
  
  .keywords {
    color: purple;
    font-weight: 600;
    font-size: 3.3rem;
  }
  
  #info1,
  #info2 {
    font-size: 3rem;
    width: 50%;
    padding: 30px;
    font-family: "Barlow Condensed";
    text-align: justify;
    margin-right: 35px;
    border-radius: 10px;
  }
  
  #info2 {
    padding-left: 50px;
  }
  
  #banner1 {
    border-radius: 10px;
    height: 25rem;
    width: 21rem;
  }
  
  #banner2 {
    border-radius: 20px;
    width: 21rem;
    height: 25rem;
    margin-left: 20px;
  }
  
  #banner1:hover {
    height: 25.7rem;
    width: 21.7rem;
    box-shadow: 0 4px 8px 0 grey, 0 2px 20px 0 purple;
  }
  
  #banner2:hover {
    height: 25.7rem;
    width: 21.7rem;
    box-shadow: 0 4px 8px 0 grey, 0 2px 20px 0 purple;
  }
  
  /* FORM */
  
  .forminpt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    width: fit-content;
    border-radius: 10px;
  }
  
  label {
    margin-bottom: 15px;
    font-size: 2.3rem;
  }
  
  input {
    margin-bottom: 15px;
    height: 1.5rem;
    padding: 10px;
    width: 0%;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid purple;
  }
  
  input[type="text"] {
    font-size: 1.5rem;
    padding-right: 10px;
  }
  
  input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  #bmilabel {
    font-size: 3.3rem;
    margin-bottom: 3rem;
    text-align: center;
    margin-left: 20px;
  }
  
  .bmi {
    color: purple;
    font-weight: 600;
    font-size: 3.3rem;
  }
  
  .buttondiv {
    text-align: center;
  }
  
  .submit {
    font-size: 2.1rem;
    font-family: "Barlow Condensed";
    padding: 10px;
    border-radius: 10px;
    background-color: purple;
    color: white;
  }
  select {
    margin-top: 2rem;
    width: 30rem;
    height: 2rem;
  }
  
  select[type="option"] {
    font-size: 2rem;
  }
  
  option {
    font-size: 1rem;
  }
  #bmisection{
    border-radius: 30px;
    width:fit-content;
    padding: 30px;
    box-shadow: 0 4px 15px 0 grey, 0 3px 20px 0 purple;
  }
  #final-block {
    padding: 3rem;
    font-size: 2rem;
  }
  
  #final-block button {
    font-size: 2rem;
    font-family: "Barlow Condensed";
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    color: purple;
    margin-bottom: 30px;
  }
  
  @media all and (max-width: 600px) {
    /* NAVBAR */
    #mobile-menu-btn {
      display: block;
      color: white;
      font-weight: 800;
      background-color: black;
      background-size: cover;
      width: 30px;
      height: 30px;
      margin-right:40px;
      border: 2px solid white;
    }
    #navtitle{
      display: block;
      font-size: 30px;
    }
    #navbar:hover {
      background: rgba(0, 0, 0, 0.8);
    }
    nav{
      padding: 0px;
    }
    nav p {
      display: none;
    }
    .links p{
      font-size: 40px;
    }
    .mobile-menu {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: rgba(0, 0, 0, 0.8);
    }
    /* NAVBAR ENDS */
    /* QUOTE CSS */
    #quote {
      font-size: 3rem;
    }
  
    .sayingdiv {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  
    /* quote css ends here */
    .infobox1,
    .infobox2 {
      flex-direction: column;
    }
  
    .infobox1 {
      margin-top: 60px;
    }
  
    .infobox2 {
      margin-right: 20px;
    }
  
    .keywords {
      color: purple;
      font-weight: 600;
      font-size: 25px;
    }
  
    #info1,
    #info2 {
      font-size: 25px;
      width: 80%;
      margin: 0;
      padding: 20px;
    }
  
    #info2 {
      width: 90%;
    }
  
    #banner1,
    #banner2 {
      border-radius: 10px;
      height: 280px;
      width: 250px;
      border: 3px solid black;
      margin-bottom: 10px;
    }
  
    #banner1:hover,
    #banner2:hover {
      height: 280px;
      width: 250px;
    }
  
    #banner2 {
      margin-left: 0;
    }
  
    /* FORM BEGINS */
    form {
      margin-bottom: 20px;
    }
  
    label {
      margin-bottom: 10px;
      font-size: 20px;
    }
  
    input {
      margin-bottom: 10px;
      height: 10px;
      padding: 10px;
    }
  
    input[type="number"] {
      font-size: 10px;
    }
  
    input[type="radio"] {
      width: 15px;
      height: 15px;
    }
  
    #bmilabel {
      font-size: 25px;
      text-align: center;
      margin-bottom: 30px;
    }
  
    .bmi {
      color: purple;
      font-weight: 600;
      font-size: 25px;
    }
  
    .buttondiv {
      text-align: center;
    }
  
    .submit {
      font-size: 20px;
      font-family: "Barlow Condensed";
      padding: 10px;
      border-radius: 10px;
      background-color: purple;
      color: white;
    }
  
    select {
      margin-top: 10px;
      width: 250px;
      height: 35px;
    }
  
    option {
      font-size: 25px;
    }
  
    .forminpt {
      margin-bottom: 2rem;
      width: fit-content;
      padding: 20px;
    }
    #bmisection{
      border-radius: 30px;
      width:80%;
      padding: 20px;
    }
  }

/* EXERCISE PAGE CSS */
#maintitle{
  font-family: "Barlow Condensed";
  padding:15px;
  font-size: 5rem;
  text-align: center;
  color:white;
}
#subinfo{
  font-family: "Barlow Condensed";
  font-size: 2rem;
  color:white;
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 3rem;
}
.col{
  margin-bottom: 3rem;
}
.card{
  width:80%;
  height:100%;
  padding: 1px;
}
a:link{
  text-decoration: none;
}
.knowmore{
  background-color: purple;
  padding: 5px;
  font-size: 20px;
  font-family: "Barlow Condensed";
  border-radius: 5px;
}
.card:hover{
  box-shadow: 0 4px 8px 0 grey, 0 2px 20px 0 purple;
}
.card-text{
  font-family: "Barlow Condensed";
  font-size: 25px;
}
.card-title{
  font-family: "Barlow Condensed";
  font-size: 30px;
  font-weight: 700;
}
.card-img-top{
  width:100%;
  height:25rem;
  border-radius: 5px;
}

@media all and (max-width:600px)
{
  #maintitle{
    font-size: 3.5rem;
  }
  #subinfo{
    font-size: 1rem;
  }
  .card-text{
      text-align: justify;
      font-size: 20px;
  }
  .card{
  width:80%;
  height:90%;
  padding: 1px;
}
}
/* EXERCISE PAGE CSS ENDS */